<%= form_for(@sw_interaction) do |f| %>

	<div class="actions container">
	<div class="row">
		<div class="col-lg-7">
			<% if @sw_interaction.errors.any? %>
				<div class="errorPanel panel panel-danger">
				<div class="panel-heading">	<h4><%= pluralize(@sw_interaction.errors.count, "error") %> prevented this Activity from being saved:</h4>
				</div>

				<ul class="list-group">
					<% @sw_interaction.errors.full_messages.each do |msg| %>
						<li class="list-group-item"><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7">
			<div class="form-group">
				<%= label_tag(:organization, "Organization") %>
				<%= f.collection_select(:organization_id, Organization.all,:id,:name,{:prompt => true},{:class=>'form-control'}) %>

			</div>
			<div class="form-group">
				<%= label_tag(:category, "Category") %> 
				<%= f.select(:category,options_for_select([ "Hands-on", "Pro-bono","Free Meal Program","Books Donation","Medical Check up","Sapling","Kids Day out Program","Fun Events for Kids","Stalls","Coastal lean Up Program","Clothes Drive" ], @sw_interaction.category ) ,{}, {:class => "form-control"}) %>
			</div>
			<div class="form-group">
				<%= label_tag(:volunteerHours, "Volunteer Hours") %> 
				<%= f.text_field(:volunteerHours,{:class => "form-control"}) %>
			</div>
			<div class="form-group">
				<%= label_tag(:fromactivitydate, "From Date") %> 
				<%= f.text_field(:fromactivitydate, :value => @sw_interaction.fromactivitydate.nil? ? nil : @sw_interaction.fromactivitydate.strftime("%m/%d/%Y %I:%M %p"), :class => "form-control activitydate") %>
			</div>
			<div class="form-group">
				<%= label_tag(:toactivitydate, "To Date") %> 
				<%= f.text_field(:toactivitydate,:value =>  @sw_interaction.toactivitydate.nil? ? nil : @sw_interaction.toactivitydate.strftime("%m/%d/%Y %I:%M %p"), :class => "form-control activitydate") %>
			</div>
<div class="form-group">
				<%= label_tag(:comment, "Comment (optional)") %> 
				<%= f.text_area(:comment,:class => "form-control") %>
			</div>
			<%if @sw_interaction.new_record? %>
				<%= f.submit 'Log New Activity', :class=> "btn btn-success"%>
			<%else%>
				<%= f.submit 'Edit Activity', :class=> "btn btn-success"%> 
			<%end%>
			<%= link_to 'Back', sw_interactions_path, :class => "btn btn-info",data: { no_turbolink: true } %>
	</div>
</div>
<% end %>
