<div class="panel panel-success swListPanel">
	<div class="panel-heading">
		<h2>List of all Volunteer hours tracking</h2> 
	</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Category</th>
      <th>Volunteer Hours</th>
      <th>Activity Date</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @sw_interactions.each do |sw_interaction| %>
      <tr>
	<td> <%= sw_interaction.organization %> </td>
	<td> <%= sw_interaction.category %> </td>
	<td> <%= sw_interaction.volunteerHours %> </td>
	<td> <%= sw_interaction.activitydate.strftime("%d/%m/%Y") %></td>
	<td> <%= link_to 'Show', sw_interaction, :class => "btn btn-success", data: { no_turbolink: true } %> </td>
	<td><%= link_to 'Edit', edit_sw_interaction_path(sw_interaction), :class => "btn btn-warning", data: { no_turbolink: true } %></td>
	<td><%= link_to 'Delete', sw_interaction, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", data: { no_turbolink: true } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Log New Volunteer Activity', new_sw_interaction_path, :class => "btn btn-success", data: { no_turbolink: true } %>
