<% provide(:title, "Sign in") %>
<div class="box-section unik-line-head unik-line-section">
	<p><span>Sign In</span></p>
</div>

<div class="box-section contact-section">
	<form id="contact-form" action="/sessions" method="post">
		<div class="text-fields">
			<div class="float-input">
				<input name="session[email]" id="email" type="text" placeholder="E-Mail ID">
				<span><i class="fa fa-user"></i></span>
			</div>
			<div class="float-input">
				<input name="session[password]" id="password" type="password" placeholder="Password">
				<span><i class="fa fa-lock"></i></span>
			</div>
		</div>
		<div class="text-fields">
			<button type="submit" name="commit" id="submit_contact">
				<i class="fa fa-sign-in"></i>Sign-In
			</button>

			<button type="submit" name="contact-submit" id="submit_contact" class="register">
				<i class="fa fa-pencil-square-o"></i>Register
			</button>
		</div>
		<div id="msg" class="message"></div>
	</form>
</div>

<div class="panel panel-success swListPanel">
	<div class="panel-heading">
		<h2>Sign In</h2> 
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<%= form_for(:session, url: sessions_path, :html => {:id => "contact-form"}) do |f| %>
					<div class="text-fields">
					<div class="float-input">
						<%= f.text_field :email, :class => "form-control"%>
						<span><i class="fa fa-user"></i></span>
					</div>
					<div class="float-input">
						<%= f.password_field :password, :class => "form-control"%>
						<span><i class="fa fa-lock"></i></span>
					</div>
				</div>
		<div class="text-fields">
			<%= button_tag(type: 'submit') do %>
				<i class="fa fa-sign-in"></i>Sign In 
			 <% end %>

			 <%= link_to signup_path, :class => 'register', :id => 'submit_contact' do %>
				<i class="fa fa-pencil-square-o"></i>Register
	                 <% end %>
		</div>
		
			<% end %>
			</div>
		</div> <!-- Row -->
	</div> <!-- End of Container -->
</div>
