<%= form_for(@user) do |f| %>

	<div class="actions container">
	<div class="row">
		<div class="col-lg-7">
			<% if @user.errors.any? %>
				<div class="errorPanel panel panel-danger">
				<div class="panel-heading">	<h4><%= pluralize(@user.errors.count, "error") %> prevented this Activity from being saved:</h4>
				</div>

				<ul class="list-group">
					<% @user.errors.full_messages.each do |msg| %>
						<li class="list-group-item"><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7">
			<div class="form-group">
				<%= label_tag(:name, "Name") %>
				<%=  f.text_field(:name, :class=>'form-control') %>
			</div>
			<div class="form-group">
				<%= label_tag(:email, "Email") %> 
				<%= f.text_field(:email, :class => "form-control") %>
			</div>
			<div class="form-group">
				<%= label_tag(:password, "Password") %> 
				<%= f.password_field(:password , :class => "form-control") %>
			</div>
			<div class="form-group">
				<%= label_tag(:password_confirmation, "Confirm Password") %> 
				<%= f.password_field(:password_confirmation , :class => "form-control") %>
			</div>

			<%= f.submit 'Sign Up', :class=> "btn btn-success"%>
			<%= link_to 'Back', users_path, :class => "btn btn-info" %>
		</div>
	</div>
</div>
			<% end %>

