<div class="col-lg-12">
<p id="notice"><%= notice %></p>
<h2>Welcome <%= @user.name %>!</h2>
<p>Please chose one of the available options</p>

<%= link_to 'Log New Volunteer Activity', new_sw_interaction_path, :class => "btn btn-success" %>
<%= link_to 'Your Activities', sw_interactions_path, :class => "btn btn-primary" %>
<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-warning" %>
<%= link_to 'All Users', users_path, :class => "btn btn-info" %>
</div>
