<ul class="list-group">
	<li class="list-group-item"><%= link_to "Activities", sw_interactions_path %></li>
	<li class="list-group-item"><%= link_to "New Activity", new_sw_interaction_path %></li>
	<li class="list-group-item"><%= link_to "Upcoming Events/News", controller: "home", action: "events" %></li>
	<li class="list-group-item"><%= link_to "Registered NGOs", organizations_path%></li>
	<% if current_user.admin? %>
	<li class="list-group-item"><%= link_to "New Organization", new_organization_path%></li>
<%end%>
	<li class="list-group-item"><%= link_to "Registered Users", users_path%></li>
	<li class="list-group-item"><%= link_to 'Gallery', controller: "home", action: "gallery" %> </li>
	<li class="list-group-item"><%= link_to 'FAQs', controller: "home", action: "faq" %> </li>
	<li class="list-group-item"><%= link_to 'Testimonials/Impact Stories', controller: "home", action: "testimonials" %></li>
</ul>
